.container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  font-family: sans-serif;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}


.resultado {
  padding: 12px;
  border-radius: 5px;
  text-align: center;
}

.aprovado {
  background-color: #d4edda;
  color: #155724;
}

.recuperacao {
  background-color: #fff3cd;
  color: #856404;
}

.reprovado {
  background-color: #f8d7da;
  color: #721c24;
}